<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--  loki  -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <property name="NAME" value="auth"/>
        <format>
            <label>
                <pattern>app=${NAME},host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "level":"%level",
                    "class":"%logger{36}",
                    "thread":"%thread",
                    "message": "%message",
                    "requestId": "%X{X-Request-ID}"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
    </appender>

    <logger name="com.github.loki4j" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="LOKI" />
        <appender-ref ref="CONSOLE"/>
    </root>

    <contextName>auth</contextName>
</configuration>