[mysqld]
#设置时区为东八区，此项设置后，在连接MySQL的时候可以不用每次都手动设置时区
default-time-zone = '+8:00'
#解决导入脚本是function报错
log_bin_trust_function_creators=1
# 设置3308端口
port=3306
# 允许最大连接数
max_connections=20000
# 允许连接失败的次数。这是为了防止有人从该主机试图攻击数据库系统
max_connect_errors=10
# 服务端使用的字符集默认为UTF8
character-set-server=utf8
# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB
# 默认使用“mysql_native_password”插件认证,此认证为1代加密认证。如果使用2代加密的话，使用可视化工具sqlyog会无法登陆！
default_authentication_plugin=mysql_native_password
[mysql]
# 设置mysql客户端默认字符集
default-character-set=utf8
 
[client]
# 设置mysql客户端连接服务端时默认使用的端口  mysql8\bin>mysql 直接登录 
# mysql -hlocalhost -uroot -P3306 
port=3306
user=root
password=root
default-character-set=utf8